/*------------------------------------------------------------
  Base Style
------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

/*making font-sizes base 10*/
html {  
 
  width: 100%;   
 
  box-sizing: border-box;
  font-size: 62.5%;
    
  background-color: $grey-color;
  
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
    
  padding: 0;
  margin: 0;

}

/*setting up font sizes and base font family*/
body {
  minheight: 100%;
  width: 100%;

  padding: 0;
  margin: 0;
    
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-size: 2rem;
  font-weight: 400;
  font-family: Alice, serif;

  p {
    font-family: Alice, serif;         
    font-size: 2rem;
    text-align: left;
  }
}
